.SortingWrapper {
    padding-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
}

.sortingContainer {
    margin-left: 40px;
}

.sortingStyles {
    cursor: pointer;
    padding: 0 10px 4px 10px;
    border-bottom: 1px dashed black;
}

.chosenSortingStyles {
    cursor: pointer;
    padding: 0 10px 4px 10px;
    border-bottom: 2px dashed black;
    font-weight: bold;
}



