.tableWrapper {
    width: 100%;
    min-height: 20px;
    margin-left: 40px;
}

.tableHeaders {
    background-color: #919192;
}

.eachHeader {

}

.td1 {
    position: relative;
}

.td2 {
    background-color: #e1e1e3;
    cursor: pointer;
}

.td2:hover {
    background-color: #a4a4a5;
}

.removeBtnStyles {
    text-align: center;
    width: 40px;
}

.disabledRemoveBtnStyles {
    text-align: center;
    width: 40px;
    pointer-events: none;
    opacity: 0.4;
}